{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title %} Restaurar contraseña {% endblock %}

{% block body %}
<div class="container">
    <div class="content-section">
     <form action="" method="post">
         {% csrf_token %}
         <fieldset class="form-group">
             <p class="border-bottom mb-4 h4">Restaurar contraseña</p>
             <p>Le enviaremos un enlace a su correo para poder confirmar que eres tú.</p>
            
                 {{ form |crispy }}
            
             
         </fieldset>
         <div class="form-group my-3">
             <button type="submit" class="btn dento-btn rounded-0">Continuar</button>
         </div>
     </form>
     
    </div>
 </div>
{% endblock %}
{% block sidebar %} {% endblock %}
