{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

{% block title %} Correo Enviado {% endblock %}

{% block body %}
<div class="container mb-100 mt-100">
<div class="container alert alert-info rounded-0">
    Revise su bandeja de entradas. Le hemos enviado un correo con instrucciones para restaurar tu contraseña.
</div>
<a class="btn dento-btn rounded-0 btn-sm" href="{% url 'login' %}" id="btn" style="visibility: hidden;">Volver a Iniciar Sesión</a>
</div>
<script>
    btn=document.getElementById("btn")
    function showbtn(){
        btn.style.visibility = "visible"
    }
    window.setTimeout(showbtn, 5000);
</script>
{% endblock %}
{% block sidebar %} {% endblock %}
