{% extends 'index.html' %}
{% load static %}



{% block body %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'img/bg-img/IMG-20230831-WA0000.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Acerca de mi</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Acerca de mi</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-left">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'img/bg-img/alex.jpg' %}" alt="">
            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Experiencia</h6>
              <div id="bar1" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="80"></span>
              </div>

            </div>
             <!-- Single Skills Area -->
             <div class="single-skills-area mt-30">
              <h6>Equipamiento moderno</h6>
              <div id="bar2" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="65"></span>
              </div>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skills-area mt-30">
              <h6>Servicio amigable</h6>
              <div id="bar3" class="barfiller">
                <span class="tip"></span>
                <span class="fill" data-percentage="85"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6">
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Doctor Valmaceda</h2>
              <div class="line"></div>
            </div>
            <p>¡Bienvenido a mi rincón de la salud en línea! Soy el Dr.Valmaceda, un médico apasionado
              por brindar atención médica de calidad y orientación en línea.
              Mi viaje en el campo de la medicina comenzó hace muchos años, y a lo largo de los años
              he tenido el privilegio de ayudar a innumerables personas a mejorar su bienestar y calidad
              de vida. Mi enfoque se centra en comprender profundamente las necesidades de mis
              pacientes y proporcionar soluciones efectivas.
              Mis credenciales y experiencia varios años trabajando como promotor de la salud y
              capacitador me han permitido abordar una amplia gama de desafíos de salud. Creo
              firmemente en la importancia de la educación y la prevención como base para una vida
              saludable. Por esta razón, he dedicado una parte significativa de mi carrera a la creación de
              contenido educativo en línea, incluyendo cursos online, ebooks, seminarios y membresías
              sobre estilo de vida saludable, etc.].
              Mi compromiso con la medicina no se limita únicamente a la práctica clínica. Como
              Promotor y Capacitador, también he tenido la oportunidad departicipar en programas de
              salud pública en varios países en Sudamérica y Europa.
              Mi objetivo con este sitio web es proporcionar orientación médica confiable y recursos
              valiosos para aquellos que buscan mejorar su salud y bienestar. Creo que la información
              precisa y la comprensión de los aspectos de la salud son esenciales para tomar decisiones
              informadas y llevar una vida plena.
              A lo largo de mi carrera, he aprendido que la comunicación abierta y el respeto por cada
              individuo son fundamentales para establecer relaciones de confianza con mis pacientes y
              seguidores en línea. Aquí, en mi espacio virtual, siempre te recibiré con los brazos abiertos
              y una mente dispuesta a ayudarte en tu viaje hacia una vida más saludable. Te invito a explorar los recursos y servicios que ofrezco. Si tienes alguna pregunta o
              necesitas orientación médica, no dudes en ponerte en contacto conmigo. Estoy aquí para
              ayudarte a alcanzar tus metas de salud y bienestar.
              Gracias por visitar mi sitio web, y espero que encuentres la información y apoyo que estás
              buscando.
              Con gratitud,
              Dr. Valmaceda</p>
          </div>
        </div>
      </div>


    </div>
  </section>
  <!-- ****** About Us Area End ****** -->

  <div class="container flex-row justify-content-center align-items-center">
    <p class="h4">Mis Redes sociales</p><br>
    <div class="container">
      <div class="post-share-area mb-30">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#" class="tweet"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="#" class="instagram2"><i class="fa fa-instagram"></i> instagram</a>
      </div>
    </div><br>
  </div>

  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>

  <!-- Cool Facts Area Start -->
  <section class="dento-cta-area">
    <div class="container">
      <div class="row">
        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_genius"></i>
            <h2><span class="counter">10</span>+</h2>
            <h5>Años promoviendo la salud</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_heart_alt"></i>
            <h2><span class="counter">700</span>+</h2>
            <h5>Estudiantes</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_book_alt"></i>
            <h2><span class="counter">40</span>+</h2>
            <h5>Libros y Cursos publicados</h5>
          </div>
        </div>

        <!-- Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-cta text-center mt-50 mb-100">
            <i class="icon_id"></i>
            <h2><span class="counter">120</span>+</h2>
            <h5>Enfermedades tratadas</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cool Facts Area End -->

  <!-- ***** Testimonials Area Start ***** -->

  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Dento Dentist Area End ***** -->
{% endblock body %}