{% extends 'index.html' %}
{% load static %}



{% block body %}


{% if messages %}
{% for message in messages %}

       <div class="container w-50 alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

 {% endfor %} 
             
{% endif %}

  

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'img/bg-img/loyal-medical-banner.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">{{posts.titulo}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'blog' %}"><i class="fa fa-home"></i> Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Leer Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  {% block modal %}
    


        <!-- Modal LOGOUT-->
<div class="modal fade rounded-0" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog rounded-0" role="document">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesion</h5>
        <button type="button" class="close rounded-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="">¿Estás seguro que desea Cerrar Sesión?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dento-btn bg-light" data-dismiss="modal"><span class="" style="color: #00aeef;">Cerrar</span></button>
        <a type="button" class="btn dento-btn dento-sm" href="{% url 'logout' %}?next={% url 'index' %} ">Confirmar</a>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}
  <!-- ****** Blog Area Start ******* -->
  <section class="dento--blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 mb-100">
          <!-- Blog Details Area -->
          <div class="blog-details-area">
            <img src="/{{posts.imagen}}" alt="{{posts.imagen}}">

            <h2 class="post-title">{{posts.titulo}}</h2>
            <div class="post-meta">
              <a ><i class="icon_clock_alt"></i> {{posts.fecha_publicacion}}</a>
              <a ><i class="icon_chat_alt"></i> {% with comments.count as total_comments %}
               {{total_comments}} Comentarios
                {% endwith %}</a>
            </div>

            <p>{{posts.contenido | safe}}</p>

          </div>

          <!-- Post Share  -->
          <div class="post-share-area mb-30">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i> Share</a>
            <a href="#" class="tweet"><i class="fa fa-twitter"></i> Tweet</a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i> Share</a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i> Share</a>
          </div>

          <!-- Comments Area -->
          <div class="comment_area clearfix">
            {% with comments.count as total_comments %}
            <h5 class="title">{{total_comments}} Commentarios</h5>
            {% endwith %}
          </li>

         
          {% if comments %}
          <ol>
            {% for comment in comments %}
          <!-- Single Comment Area -->
          <li class="single_comment_area">
            <!-- Comment Content -->
            <div class="comment-content d-flex">
              <!-- Comment Author -->
              <div class="comment-author">
                <img src="{% static 'img/bg-img/default.jpg' %}" alt="author" style="border-radius: 50%; height:70px; width:80px">
              </div>
              <!-- Comment Meta -->
              <div class="comment-meta" style="overflow: auto;">
                <a type="button" class="post-author">@{{comment.name}} | <span>{{comment.publish_date}}</span></a>
                <p style="word-wrap: break-word;">{{comment.content}}</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ol> 
            {% endif %}
          </div>

          <!-- Leave A Reply -->{% if user.is_authenticated %}
          <div class="contact-form mt-30">
            <h5 class="mb-30">Deja un comentario</h5>

            <!-- Comment Form -->
            <form method="post"> {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                 {{comments_form.name}}
                </div>
                <div class="col-lg-6">
                  {{comments_form.email}}
                </div>
                <div class="col-12">
                  {{comments_form.content}}
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Publicar</button>
                </div>
              </div>
            </form>

          </div> {% else %}

          <div class="container">
            <textarea class="form-control mt-30"></textarea>
            <p><a href="{% url 'login' %}" style="color: #00aeef;">Iniciar sesion</a>  para comentar</p>
          </div>
          
          {% endif %}
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area search-widget">
              <form method="get"> 
                <input type="text" name="search" class="form-control" placeholder="Buscar en el blog ...">
                <button type="submit"><i class="icon_search"></i></button>
              </form>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget">
              <h5 class="widget-title">Categorias</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="/blog ">Todos</a></li>
                {% for categoria in categorias %}
                <li><a href="/blog?categoria={{categoria.id}} ">{{categoria.nombre}}</a></li>
                <!-- /?category={{i.id}} -->
                {% endfor %}
              </ul>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget">
              <h5 class="widget-title">Ultimas publicaciones</h5>

              {% if post %}
              {% for post in post %}

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="/{{post.imagen}}" alt="">
                </div>
                <div class="blog-content">
                  <a href="{% url 'blog_details' post.id %}" class="post-title">{{post.titulo}}</a>
                  <span class="post-date">{{post.fecha_publicacion}}</span>
                </div>
              </div>

              {% endfor %}
            {% endif %}

            </div>

            
            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="{% static 'img/bg-img/adds.png' %} alt="></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ****** Blog Area End ******* -->

  {% endblock body %}