 {% load static %}
 <!-- ***** Testimonials Area Start ***** -->
 <div class="col-12">
    <div class="section-heading text-center">
      <h2 style="text-transform: none;">Lo que opinan mis pacientes</h2>
      <div class="line"></div>
    </div>
  </div>
 <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'img/bg-img/7.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'img/bg-img/1591822994559.JFIF' %}" style="height: 150px; width:150px;" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“El Dr Valmaceda es una excelente persona y un gran médico. Es compasivo, profesional y siempre se toma su tiempo para escuchar a sus pacientes. La próxima
                  vez que necesite un médico, voy a verle sin dudarlo”</h5>
                <h6>Ernesto Mendoza</h6>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'img/bg-img/1657540369497.JFIF' %}" style="height: 150px; width:150px;" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“No es fácil encontrar un médico tan dedicado a la atención al paciente como el Dr Valmaceda. No sólo es muy bueno en su trabajo, sino que también
                  tiene una personalidad encantadora. Es realmnente un alivio tener un médico que te haga sentir cómodo y seguro”</h5>
                <h6>Javier Caicedo</h6>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'img/bg-img/image1.jpg' %}" style="height: 150px; width:150px;" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“El Dr Valmaceda es una persona maravillosa y muy profesional”</h5>
                <h6>Arnol Mayer</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->