{% extends 'index.html' %}
{% load static %}  {% load crispy_forms_tags %}

{% block body %}
<div class="container d-flex flex-column">
<h3 class=" text-center ">CREAR USUARIO</h3>
<hr>

<form action="" method="post" class="container w-50 mb-100">
    {% csrf_token %}
    {{ form | crispy }}
    
    <input type="submit" value="Confirmar" class="btn dento-btn">
</form>
<p class=" text-center">Ya tienes una cuenta? <a href="{% url 'login' %}" class="azul">Inicia Sesión</a></p>
</div>

{% endblock %}